{% extends "base.html" %}

{% block content %}
<section class="my-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <h1 class="py-5">Créer un project</h1>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}


<!--<div class="mb-3">-->
<!--    <input type="text" class="form-control">-->
<!--</div>-->